doctype html
html
  head
    title Hợp Đồng Du Lịch
  body
    center 
        h1 CÔNG TY TNHH 5CHAUMEDIA
    hr
    center CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
    center Độc lập – Tự do – Hạnh phúc
    hr
    center
        h2 HỢP ĐỒNG DU LỊCH
    div
        p
        | Bên A: #{benA.ten}
        br
        | Người đại diện: #{benA.nguoiDaiDien} - Email: #{benA.email}
        br
        | Điện thoại: #{benA.dienThoai} - Địa chỉ: #{benA.diaChi}
        p
        | Bên B: #{benB.ten}
        br
        | Địa chỉ: #{benB.diaChi}
        br
        | Người đại diện: #{benB.nguoiDaiDien} – Chức Vụ: #{benB.chucVu}
        br
        | Điện thoại: #{benB.dienThoai} – Fax: #{benB.fax}
        br
        | Giấy phép kinh doanh số: #{benB.giayPhep} – Nơi cấp: #{benB.noiCap}
    p Hai bên thống nhất ký một số điều khoản phục vụ khách du lịch như sau:
    h3 ĐIỀU KHOẢN: THỰC HIỆN CỦA HAI BÊN
    p 1. Bên A có trách nhiệm thông báo chi tiết và xác nhận về lượng khách kèm theo danh sách trích ngang, địa điểm, thời gian, và thông tin liên quan của đoàn khách trước 03 ngày khởi hành cho bên B. Bên B có trách nhiệm đưa đón, phục vụ đoàn khách của bên A đúng như trong lộ trình chi tiết của phụ lục kèm theo hợp đồng, bảo đảm chất lượng dịch vụ theo hợp đồng.
    p 2. Bên A thanh toán đầy đủ, đúng hạn cho bên B tổng giá trị hợp đồng theo phương thức đã nêu trên. Nếu phát sinh chi phí cho việc làm hay yêu cầu của bên A thì bên A phải thanh toán thêm khoản chi phí đó cho bên B.
    p 3. Trong quá trình thực hiện hợp đồng, mọi phát sinh tranh chấp đều được hai bên cùng nhau bàn bạc và giải quyết trên tinh thần bình đẳng hai bên đều có lợi.
    p 4. Những phụ lục hợp đồng kèm theo có giá trị pháp lý như bản hợp đồng này.
    p 5. Hai bên cam kết thực hiện đúng những điều khoản như trong hợp đồng, bên nào thực hiện sai gây tổn hại về thời gian, vật chất cho bên kia thì phải chịu trách nhiệm bồi hoàn phần tổn hại đó cho bên kia theo quy định trước pháp luật.
    p 6. Hợp đồng này gồm có 03 trang và được lập 02 bản, mỗi bên giữ 01 bản có giá trị pháp lý như nhau và có hiệu lực kể từ ngày ký.
    div(style="display: flex; justify-content: space-around;")
      div 
        p ĐẠI DIỆN BÊN A 
        P CÔNG TY TNHH 5CHAUMEDIA
      div 
        p ĐẠI DIỆN BÊN B